 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>About Church</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
		  <article>
              			  <h4>MISSION AND VISION</h4>
              
			  
        <ol>
               <li>To make heaven.</li>

<li>To take as many people with us.</li>

<li>To have a member of RCCG in every family of all nations.</li>

<li>To accomplish No. 1 above, holiness will be our lifestyle.</li>

<li>To accomplish No. 2 and 3 above, we will plant churches within five minutes walking distance in every city and town of developing countries and within five minutes driving distance in every city and town of developed countries.</li><br>

We will pursue these objectives until every Nation in the world is reached for the Lord Jesus Christ. 
<br></ol>
              
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
            
            <aside class="panel panel-primary asidetext">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Our Services</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><span class="text-uppercase">Sundays </span><br>Celebration Service</strong><br> 9.30 a.m. - 12.00 noon </li>
                                        <li class="list-group-item"><strong><span class="text-uppercase">Mondays</span><br>Fasting &amp; Prayer</strong>6.00 a.m. - 6.00p.m. <br><strong>Pravailing Hour</strong> 6.00 p.m. - 7.00p.m. </li>
                    
                    <li class="list-group-item"><strong><span class="text-uppercase">Digging Deep</span><br>Tuesdays Bible Study </strong><br> 6.00 p.m. - 7.00 p.m.</li>
                    <li class="list-group-item"><strong><span class="text-uppercase">Last Friday of the Month</span><br>Power &amp; Praise Night </strong><br> 11.00 p.m. - 1.30 a.m.</li>
                    
                    
                 
                </ul>
            </aside>
        
             <div id="transport">Free transportation is available to and fro church. Call: 936-649-5028</div>
      <br>
            <!--</div>-->
            

<!--   <div class="col-xs-12 col-md-3">sub content  -->
      <!--<aside class="bodytext-location"> 
          
          <aside class="panel panel-primary asidetext">
                <div class="panel-heading">
                    <h3 class="panel-title">
                       Church Location</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><address>
  <strong> RCCG RHEMA INTERNATIONAL ASSEMBLY</strong><br>
  316 16th St.,<br>
  Huntville,Tx 77340<br>
    United States<br>
  <abbr title="Phone">Tel:</abbr> 936-649-5028, 281-818-3244<br>
    <abbr title="Phone">Email:</abbr> rhemaintlassemblyrccg@yahoo.com
</address></li>
                    <span class="list-group-item"><strong class="map-text">Google Map</strong></span>
                    <a href="https://www.google.com.ng/maps/place/316+16th+St,+Huntsville,+TX+77340,+USA/@30.7194638,-95.5370711,17z/data=!4m2!3m1!1s0x864708ed060ce5af:0x357472c0ef6f4a41" class="list-group-item"><img src="img/loc-map.jpg" class="img-responsive" target="_blank"></a>
                   
                   
                </ul>
            </aside>-->
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>