 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Community Outreach</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              			  <h4><!-- heading --></h4>
              <legend> check back for information...  </legend>
			  
       
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
            
            <aside class="panel panel-primary asidetext">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Our Services</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><span class="text-uppercase">Sundays </span><br>Celebration Service</strong><br> 9.30 a.m. - 12.00 noon </li>
                                        <li class="list-group-item"><strong><span class="text-uppercase">Mondays</span><br>Fasting &amp; Prayer</strong>6.00 a.m. - 6.00p.m. <br><strong>Pravailing Hour</strong> 6.00 p.m. - 7.00p.m. </li>
                    
                    <li class="list-group-item"><strong><span class="text-uppercase">Digging Deep</span><br>Tuesdays Bible Study </strong><br> 6.00 p.m. - 7.00 p.m.</li>
                    <li class="list-group-item"><strong><span class="text-uppercase">Last Friday of the Month</span><br>Power &amp; Praise Night </strong><br> 11.00 p.m. - 1.30 a.m.</li>
                    
                    
                 
                </ul>
            </aside>
        
             <div id="transport">Free transportation is available to and fro church. Call: 936-649-5028</div>
      <br>
            <!--</div>-->
            

<!--   <div class="col-xs-12 col-md-3">sub content  -->

</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>