 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Prayer Request</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active"> Prayer Request</li>
            </ol>
		  <article>-->
              
<form action="#sendresults2.php" method="POST">
        <fieldset>
       <legend>Fill and send us your prayer request, we'll join you in prayers. </legend>
            <ul>
                <li class="name">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name" placeholder="Fullname" required class="form-control"/>
               </li>
                <li class="email">
                    <label for="email">Your Email</label>
                    <input type="email" id="email" name="email" placeholder="praise2014@yahoo.com" required class="form-control" />
                </li>
                <li class="email">
                    <label for="phone">Your Phone Number (Optional)</label>
                    <input type="phone" id="phone" name="phone" placeholder="+1-000-000-0000" class="form-control"/>
                </li>
                <li class="message">
                    <label for="message">Request</label>
                    <textarea id="message" name="message" class="form-control"></textarea>
                </li>
            </ul>
        <input class="send" type="submit" name="submit" value="Send" /> <button type="button" class="closex" data-dismiss="modal">Close</button>
        </fieldset>
            </form>
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
            
            <aside class="panel panel-primary asidetext">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Our Services</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><span class="text-uppercase">Sundays </span><br>Celebration Service</strong><br> 9.30 a.m. - 12.00 noon </li>
                                        <li class="list-group-item"><strong><span class="text-uppercase">Mondays</span><br>Fasting &amp; Prayer</strong>6.00 a.m. - 6.00p.m. <br><strong>Pravailing Hour</strong> 6.00 p.m. - 7.00p.m. </li>
                    
                    <li class="list-group-item"><strong><span class="text-uppercase">Digging Deep</span><br>Tuesdays Bible Study </strong><br> 6.00 p.m. - 7.00 p.m.</li>
                    <li class="list-group-item"><strong><span class="text-uppercase">Last Friday of the Month</span><br>Power &amp; Praise Night </strong><br> 11.00 p.m. - 1.30 a.m.</li>
                    
                    
                 
                </ul>
            </aside>
        
             <div id="transport">Free transportation is available to and fro church. Call: 936-649-5028</div>
      <br>
            <!--</div>-->
            

<!--   <div class="col-xs-12 col-md-3">sub content  -->
      
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>