<section class="container-fluid topbar">
         <div class="container">
       <span class="pull-right"><i class="fa fa-envelope topbar-fa hidden-xs"></i><small class="hidden-xs">rhemaintlassemblyrccg@yahoo.com</small></i><i class="fa fa-phone topbar-fa">    </i><small>936-649-5028</small></span>
             </div>
          </section>
   <!-- beginning of banner -->
     <header class="container-fluid banner">
            <br>
         <div class="container">
          <div class="row">
  <div class="col-xs-12 col-sm-2"><a href="#/"><img src="img/logo.png" class="img-responsive img-circle center-block"></a></div>
  <div class="col-xs-12 col-sm-10 text-center churchname"><h1 class="">Rhema International Assembly</h1>
                   <!---<span class="pull-right"><img src="img/transportation.png" alt="Free Transportation is Available" class="img-responsive hidden-xs"></span>-->
          </div>
</div>
         </div>
     
         <br>
         <!--<div id="fixedad"> FREE Transportation is Available</div>-->
          
      <!--<div id="slideAd" class="hidden-xs hidden-sm text-center">Come Worship With Us <br>Jesus is Lord</div>-->
      </header>
      <!-- end of banner -->
      
      <!-- beginning of navigation -->
   
      <nav class="navbar navbar-default top-navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
       <span class="menu-text hidden-sm hidden-md hidden-lg">Menu</span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="#/" >Home</a></li>
        <li><a href="#/aboutchurch">About Us</a></li>
          <li><a href="#/services">Services</a></li>
          <!--<li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Ministries <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/men">Men</a></li>
            <li><a href="#/women">Women</a></li>
            <li><a href="#/youth">Youth</a></li>
              <li><a href="#/children">Children</a></li>
            <li class="divider"></li>
            <li><a href="#/departments">Departments</a></li>
            <!--<li class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
          <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Church Resources <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/sermons">Sermon Excerpts</a></li>
            <li><a href="#/bible_study">Bible Study</a></li>
               <li><a href="#/photo_gallery">Photo Gallery</a></li>
            <li><a href="#/audios_videos">Audios/Videos</a></li>
              <li><a href="#/church_library">Library</a></li>
             <!--<li class="divider"></li>
            <li><a href="#">Departments</a></li>
           <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
         
          <li><a href="#/contact">Contact</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      
      <!-- end of navigation -->

   